.error404__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    flex-direction: column;
    color: white;
    max-width: 1480px;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.error__code {
    font-size: 80px;
}

.error__text {
    font-size: 80px;
    font-weight: 500;
}

.error__face {
    font-size: 40px;
}

.navbar__wrapper {
    position: relative;
    height: 15vh;
    display: flex;
    gap: 10px;
}

.nav__links__closed {
    position: absolute;
    padding-left: 20px;
    left: -180px;
    transition: all 1s ease-out;
}

.nav__links__opened {
    position: absolute;
    padding-left: 20px;
    left: 30px;
    transition: all 2s ease-out;
}

.burger {
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 20%;
    transition: all 1s ease-out;
}

.burger__none {
    display: none;
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 20%;
    transition: all 1s ease-out;
}
.line {
    width: 30px;
    height: 3px;
    background: red;
    margin: 5px;
}

.hw__link {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.hw__link:hover,
.hw__link:focus,
.hw__link:active {
    color: gold;
}