.hw10__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

.hw10__title {
    padding: 20px;
}

.hw10__btn {
    height: 60px;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    margin-bottom: 20px;
}

.hw10__btn:hover {
    background-color: #fff;
}

.hw10__btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.hw10_preLoader {
    height: 56px;
    width: 56px;
    margin-bottom: 20px;
}
