* {
    box-sizing: border-box;
}

.message__comp {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: 'avatar info';
    background: #8ff141;
    width: 25vw;

}

.avatar__block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: avatar;
    margin-bottom: 8px;
}

.avatar__block img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.info__block {
    border-radius: 15px 15px 15px 0;
    background: rgba(0,0,0, .85);
    color: #fff;
    padding: 10px 0 0 10px;
    margin: 5px 10px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.info__block:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 4px solid rgba(0,0,0, .85);
    border-right: 15px solid transparent;
    border-top: 11px solid rgba(0,0,0, .85);
    border-bottom: 15px solid transparent;
    transform: rotate(180deg);
    border-bottom-right-radius: 4px;
    bottom: 0px;
    left: -18px;
}

.name {
    color: rgba(226, 60, 255, 0.95);
    margin-bottom: 5px;
    padding: 0 10px;
}

.messageTimeWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
}
.message {
    color: white;
}
.time {
    color: #194f16;
}